.sideDrawer {
	display: flex;
	flex-flow: column;
	position: fixed;
	width: 280px;
	max-width: 70%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 20;
	background-color: white;
	padding: 32px 16px;
	box-sizing: border-box;
	transform: transform 0.3s ease-out;
	background-color: #703b09;

	.logo {
		background-color: white;
		padding: 8px;
		height: 11%;
		align-self: center;
		max-width: fit-content;
		box-sizing: border-box;
		border-radius: 5px;

		img {
			height: 100%;
		}
	}

	nav > ul {
		width: 100%;
		margin-top: 20px;
		display: flex;
		flex-flow: column;
		align-items: flex-start;

		li {
			width: inherit;

			a {
				width: inherit;
			}
		}
	}

	@media (min-width: 500px) {
		display: none;
	}

	&.open {
		transform: translateX(0);
	}

	&.close {
		transform: translateX(-100%);
	}
}
