$modalWidth: 70%;

.modal {
	position: fixed;
	box-sizing: border-box;
	z-index: 1;
	background-color: white;
	width: $modalWidth;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px black;
	padding: 16px;
	left: unquote('calc(#{-$modalWidth} - 2px)');
	transition: all 0.3s ease-out;
	margin: 0 auto;

	&.show {
		left: 0;
		right: 0;
	}

	&.hide {
		left: unquote('calc(#{-$modalWidth} - 2px)');
	}

	.closeButton {
		position: absolute;
		right: 10px;
		top: 10px;
		cursor: pointer;
	}
}
