.burgerCockpit {
	width: 100%;
	background-color: #cf8f2e;
	display: grid;
	grid-template-columns: 30% auto 30%;
	padding: 10px 0;

	.ingredients {
		grid-column-start: 2;
		display: flex;
		flex-flow: column;
		justify-self: center;
	}

	.totalPrice {
		grid-column-start: 3;
		font-size: 3em;
		margin: 5px;
		display: flex;
		align-items: center;
		text-align: center;
	}
}
